@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&family=Roboto+Flex:opsz@8..144&display=swap');

body {
    display: flex;
    justify-content: center;
    background-color: rgb(150, 150, 235)
}

.map-description{
    font-family: 'Roboto Flex', sans-serif;
    position: absolute;
    margin-top: 6%;
    font-size: 80%;
    cursor: pointer;
    transition: 0.4s;
}

.map-description-title{
    margin-left: 28%;
}

.map-description:hover{
    font-size: 85%;
}



svg{
    margin-top: 10%;
    width: 30%;
    height: 50%;

}

.estado{
    fill: white;
    transition: fill 0.4s;
    cursor: pointer;
}

.regiao_norte:hover .estado{
    fill: red;
}

.regiao_nordeste:hover .estado{
    fill: red;
}

.regiao_centro_oeste:hover .estado{
    fill: rgb(255, 183, 0);
}

.regiao_sudeste:hover .estado{
    fill: #21cc32;
}

.regiao_sul:hover .estado{
    fill: green;
}

path {
    
    stroke: black;
    stroke-width: 1px;
}

@media screen and (max-width: 500px){
   
    svg{
        margin-top: 10rem;
        width: 90%;
        height: 50%;
    }
    
}

<<<<<<< HEAD
@media screen and (max-width: 500px){

    .map-description{
        font-family: 'Roboto Flex', sans-serif;
        position: absolute;
        margin-top: 28%;
        font-size: 80%;
        cursor: pointer;
        transition: 0.4s;
    }

    .regiao_norte .estado{
        fill: red;
    }
    
    .regiao_nordeste .estado{
        fill: red;
    }
    
    .regiao_centro_oeste .estado{
        fill: rgb(255, 183, 0);
    }
    
    .regiao_sudeste .estado{
        fill: #21cc32;
    }
    
    .regiao_sul .estado{
        fill: green;
    }
}
=======

@media only screen and (min-device-width: 0px) 
                   and (max-device-width: 1230px) 
                   and (orientation: landscape) {

                    svg{
                        margin-top: 5rem;
                        width: 35%;
                        height: 50%;
                    }

                    .regiao_norte .estado{
                        fill: red;
                    }
                    
                    .regiao_nordeste .estado{
                        fill: red;
                    }
                    
                    .regiao_centro_oeste .estado{
                        fill: rgb(255, 183, 0);
                    }
                    
                    .regiao_sudeste .estado{
                        fill: #21cc32;
                    }
                    
                    .regiao_sul .estado{
                        fill: green;
                    }

                   }
>>>>>>> 7753d63cba825534bafe027ea3e8d50a646f03f6
