@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&family=Roboto+Flex:opsz@8..144&display=swap');

.main-header{
    height: 8.6%;
    padding-right: 1%;
}

.titulo-pagina{
    font-size:100%;

}

.link-menu{
    font-size: 115% ;
}


.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    backdrop-filter: blur(5px);
}

.conteudo-modal{
   background-color: white;
   width: 50%;
   height: 80%;  
   overflow: auto;  
   border-radius: 5px;
}

.close-modal{
    display: flex;
    justify-content: flex-end;
    padding-top: 10%;
    padding-right: 1rem;
    
}

#close-modal-ne, #close-modal-no, #close-modal-sul, #close-modal-co, #close-modal-sd {
    width: 1.2rem;
}

#close-modal-no, #close-modal-ne, #close-modal-co, #close-modal-sd, #close-modal-sul{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 4px 0px 0px rgb(200, 199, 199);
    color: black;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

#close-modal-no:active, #close-modal-ne:active, #close-modal-co:active,  #close-modal-sd:active, #close-modal-sul:active{
    cursor: progress;
    box-shadow:inset 3px 4px 0px 0px rgb(200, 199, 199);
}


.layout{
    background-color: rgb(246, 248, 102);
    display: flex;
    flex-direction: row;
    position: relative;
}

.ongs-distribuiton{
    background-color: white;
    height: auto;
    width: 30%;
    transition: 0.4s;
    
}

.ongs-distribuiton:hover{

    transition: 0.4s;  
}

.ong-div{
    display: flex;
    padding: 15%;
    flex-direction: column;
}



.ong-image{
    padding: 1em;
    height: 90%;
    width: 90%;
    transition: 0.4s;
    filter: grayscale(100%)
}

.ong-image:hover {
    padding: 1em;
    height: 98%;
    width: 98%;
    filter: grayscale(0%)
}

.region-info{
    position: relative;
    width: 80%;
    margin-top: 2rem;
}

.info{
    font-size: 100%;
    margin: 2%;
    background-color: white;
    box-shadow: inset 0px 1px 62px -20px rgba(0,0,0,0.67);   

}


.region-sul-name{
    font-family: 'Roboto Flex', sans-serif;
    margin-left:38%;
    border-right: 4px solid;
    width: 10ch;
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 1.5s steps(18), blinking 0.5s infinite step-end alternate;
}

.region-sudeste-name{
    font-family: 'Roboto Flex', sans-serif;
    margin-left:35%;
    border-right: 4px solid;
    width: 13ch;
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 1.5s steps(13), blinking 0.5s infinite step-end alternate;
}

.region-sudeste-name{
    font-family: 'Roboto Flex', sans-serif;
    margin-left:35%;
    border-right: 4px solid;
    width: 13ch;
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 1.5s steps(13), blinking 0.5s infinite step-end alternate;
}

.region-centro-oeste-name{
    font-family: 'Roboto Flex', sans-serif;
    margin-left:32%;
    border-right: 4px solid;
    width: 18ch;
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 1.5s steps(18), blinking 0.5s infinite step-end alternate;
}

.region-norte-name{
    font-family: 'Roboto Flex', sans-serif;
    margin-left:35%;
    border-right: 4px solid;
    width: 12ch;
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 1.5s steps(12), blinking 0.5s infinite step-end alternate;
}

.region-nordeste-name{
    font-family: 'Roboto Flex', sans-serif;
    margin-left:35%;
    border-right: 4px solid;
    width: 14ch;
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 1.5s steps(14), blinking 0.5s infinite step-end alternate;
}

.data{
   margin-left: 8%; 
   cursor: pointer;
}

.title{
    font-size: 80%;
}


.graphic-explain{
    font-size: 60%;
}

.first-p{
    font-family: 'Roboto Flex', sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 3%;
    width: 90%;
    white-space: wrap;
    overflow: hidden; 
    animation: typing 1s steps(50);
}

.second-p {
    font-family: 'Roboto Flex', sans-serif;
    margin: 3%;
    width: 90%;
    white-space: wrap;
    overflow: hidden; 
    animation: typing 1.5s steps(50);
    padding-bottom:  3%;
}


.more-ongs{
    display: flex;
    font-family: 'Roboto Flex', sans-serif;
    justify-content: center;
    font-size: 80%;
    margin-left: 11%;
    padding: 8%;
    background-color: rgb(255, 255, 255);
    box-shadow: 7px 8px 0px 0px rgb(200, 199, 199);
    cursor: pointer;

}
.more-ongs:active{
    font-family: 'Roboto Flex', sans-serif;
    box-shadow: inherit;
    font-size: 0.8rem;
    box-shadow: inset 5px 5px 0px 3px rgb(200, 199, 199);
    cursor: progress;

    
}

.some-ongs{
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 10%;
    font-size: 90%;
}

@media screen and (max-width: 500px){
    .title{
        font-size: 40%;
    }
    .conteudo-modal{
        background-color: white;
        width: 90%;
        height: 80%;  
        overflow: auto;  
        border-radius: 5px;
     }

     .some-ongs{
        margin-left: 5%;
        font-size: 50%;
     }

     .more-ongs{
        font-family: 'Roboto Flex', sans-serif;
        display: flex;
        justify-content: center;
        font-size: 30%;
        margin-left: 20%;
        padding: 8%;
        background-color: rgb(255, 255, 255);
        box-shadow: 7px 8px 0px 0px rgb(200, 199, 199);
        cursor: pointer;
    
    }

    .more-ongs:active{
        
        font-family: 'Roboto Flex', sans-serif;
        box-shadow: inherit;
        font-size: 30%;
        box-shadow: inset 5px 5px 0px 3px rgb(200, 199, 199);
        cursor: progress;
    }
        

    .ong-image{
        font-family: 'Roboto Flex', sans-serif;
        padding: 1%;
        height: 120%;
        width: 120%;
        transition: 0.4s;
        filter: grayscale(100%)
    }

    .region-centro-oeste-name{
        font-family: 'Roboto Flex', sans-serif;
        margin-left:32%;
        border-right: 4px solid;
        width: 18ch;
        white-space: nowrap; 
        overflow: hidden; 
        animation: typing 1.5s steps(18), blinking 0.5s infinite step-end alternate;
    }

    .region-sul-name{
        font-family: 'Roboto Flex', sans-serif;
        margin-left:38%;
        border-right: 4px solid;
        width: 10ch;
        white-space: nowrap; 
        overflow: hidden; 
        animation: typing 1.5s steps(18), blinking 0.5s infinite step-end alternate;
    }

    
}

@keyframes typing{
    from{
        width: 0;
    }
}


