* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.titleH1{
    margin: 2rem;
    font-size: 50px;
}

.main-title{
    text-decoration: none;
    color: black;
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    background-color: rgb(246, 248, 102);
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav a{
    margin-left: 1rem;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.area-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url("/src/img/testeBanner1.png");
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
   
}

.meio-banner{
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    
}
.content2{
    display: flex;
    flex-direction: column;
    height: 700px;
    
}
.content3{
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}


.card-text{
    width: 50%;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    padding: 1rem;
}
.barra-titulo{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: center;
    height: 100px;
}
.text-block{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.left-block, .right-block{
    width: 20%;
    height: 100px;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    padding: 1rem;
}

.barra-information{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.information{
    width: 70%;
   
    
    background-color:  rgb(246, 248, 102);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    padding: 1rem;
}

.section3-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


footer{
    text-align: center;
    background-color: black;
    color: white;
}
